td.reg_head { 	font-weight: bold;
		vertical-align: text-top; 
		float: right;}

table.reg_form {border: 2px solid #a1a1a1;
		padding: 10px 40px; 
		background: #dddddd;
		border-radius: 25px;}

li.interests	{text-transform: capitalize;}

td,th	{text-align: left; border: 1px solid black;}